{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в Blockchain App!</h1>
    <p class="lead">Это простое веб-приложение для работы с смарт-контрактами.</p>
    <hr class="my-4">
    <p>Для продолжения, пожалуйста, войдите или зарегистрируйтесь.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
</div>
{% endblock %}
