{% extends 'base.html' %}

{% block content %}
<h2>Информация о недвижимости</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Размер</th>
            <th>Адрес</th>
            <th>Владелец</th>
            <th>Тип</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for estate in estates %}
        <tr>
            <td>{{ estate.ID }}</td>
            <td>{{ estate.Размер }}</td>
            <td>{{ estate.Адрес }}</td>
            <td>{{ estate.Владелец }}</td>
            <td>{{ estate.Тип }}</td>
            <td>{{ estate.Статус }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
